{% extends 'base.html' %}
{% block body %}

<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
    {% for item in melon_rows %}
    <tr><td>{{ item.common_name }}</td><td> {{ session["cart"][ "%s" |format(item.id)] }} </td><td> {{  "$%.2f" | format(item.price) }}</td><td>{{ "$%.2f" | format(session["cart"][ "%s" |format(item.id)]*item.price) }}</td></tr>
    {% endfor %}

</table>
<h3>Total: {{ "$%.2f" | format(total) }}</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
